ideas/src/main/xsd/strategies.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ iTransformer is an open source tool able to discover and transform 
  ~  IP network infrastructures.
  ~  Copyright (C) 2012  http://itransformers.net
  ~
  ~  This program is free software: you can redistribute it and/or modify
  ~  it under the terms of the GNU General Public License as published by
  ~  the Free Software Foundation, either version 3 of the License, or
  ~  any later version.
  ~
  ~  This program is distributed in the hope that it will be useful,
  ~  but WITHOUT ANY WARRANTY; without even the implied warranty of
  ~  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  ~  GNU General Public License for more details.
  ~
  ~  You should have received a copy of the GNU General Public License
  ~  along with this program.  If not, see <http://www.gnu.org/licenses/>.
  -->

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="strategies" type="strategiesType">
        <xs:annotation>
            <xs:documentation>~ iTransformer is an open source tool able to discover and transform
                ~  IP network infrastructures.
                ~  Copyright (C) 2012  http://itransformers.net
                ~
                ~  This program is free software: you can redistribute it and/or modify
                ~  it under the terms of the GNU General Public License as published by
                ~  the Free Software Foundation, either version 3 of the License, or
                ~  any later version.
                ~
                ~  This program is distributed in the hope that it will be useful,
                ~  but WITHOUT ANY WARRANTY; without even the implied warranty of
                ~  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
                ~  GNU General Public License for more details.
                ~
                ~  You should have received a copy of the GNU General Public License
                ~  along with this program.  If not, see &lt;http://www.gnu.org/licenses/>.</xs:documentation>
        </xs:annotation>
    </xs:element>
    <xs:complexType name="strategiesType">
        <xs:sequence>
            <xs:element type="strategyType" name="strategy" maxOccurs="unbounded" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="businessConstraintType">
        <xs:simpleContent>
            <xs:extension base="xs:string">
                <xs:attribute type="xs:string" name="name" use="optional"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    <xs:complexType name="businessConstraintsType">
        <xs:sequence>
            <xs:element type="businessConstraintType" name="businessConstraint" maxOccurs="unbounded" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="strategyType">
        <xs:sequence>
            <xs:element type="stepType" name="step" maxOccurs="unbounded" minOccurs="0"/>
        </xs:sequence>
        <xs:attribute type="xs:string" name="name" use="optional"/>
    </xs:complexType>
    <xs:complexType name="stepType">
        <xs:sequence>
            <xs:element type="businessConstraintsType" name="businessConstraints"/>
        </xs:sequence>
        <xs:attribute type="xs:string" name="name" use="optional"/>
    </xs:complexType>
</xs:schema>