iDiscover/conf/xsd/discoveryParameters.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ iTransformer is an open source tool able to discover IP networks
  ~ and to perform dynamic data data population into a xml based inventory system.
  ~ Copyright (C) 2010  http://itransformers.net
  ~
  ~ This program is free software: you can redistribute it and/or modify
  ~ it under the terms of the GNU General Public License as published by
  ~ the Free Software Foundation, either version 3 of the License, or
  ~ any later version.
  ~
  ~ This program is distributed in the hope that it will be useful,
  ~ but WITHOUT ANY WARRANTY; without even the implied warranty of
  ~ MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  ~ GNU General Public License for more details.
  ~
  ~ You should have received a copy of the GNU General Public License
  ~ along with this program.  If not, see <http://www.gnu.org/licenses/>.
  -->

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="discovery-helper" type="discovery-helperType"/>
  <xs:complexType name="discovery-helperType">
    <xs:sequence>
      <xs:element type="deviceType" name="node" maxOccurs="unbounded" minOccurs="0"/>
      <xs:element type="stop-criteriaType" name="stop-criteria"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="discovery-methodType">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute type="xs:string" name="name" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="deviceType">
    <xs:sequence>
      <xs:element type="xs:string" name="general"/>
      <xs:element type="discovery-methodType" name="discovery-method" maxOccurs="unbounded" minOccurs="0"/>
    </xs:sequence>
    <xs:attribute type="xs:string" name="type" use="optional"/>
    <xs:attribute type="xs:string" name="xslt" use="optional"/>
  </xs:complexType>
    <xs:complexType name="matchType">
      <xs:simpleContent>
        <xs:extension base="xs:string">
          <xs:attribute type="xs:string" name="property" use="required"/>
        </xs:extension>
      </xs:simpleContent>
    </xs:complexType>
    <xs:complexType name="match-notType">
      <xs:simpleContent>
        <xs:extension base="xs:string">
          <xs:attribute type="xs:string" name="property" use="required"/>
        </xs:extension>
      </xs:simpleContent>
    </xs:complexType>
    <xs:complexType name="stop-criteriaType">
      <xs:sequence>
        <xs:element type="matchType" name="match" maxOccurs="unbounded" minOccurs="0"/>
        <xs:element type="match-notType" name="match-not" maxOccurs="unbounded" minOccurs="0"/>
      </xs:sequence>
    </xs:complexType>
    <xs:complexType name="managementVlans">
      <xs:sequence>
        <xs:element type="xs:string" name="vlan" maxOccurs="unbounded" minOccurs="0"/>
      </xs:sequence>
    </xs:complexType>
    <xs:complexType name="managementIPRange">
      <xs:sequence>
        <xs:element type="xs:string" name="ipRange" maxOccurs="unbounded" minOccurs="0"/>
      </xs:sequence>
    </xs:complexType>
</xs:schema>