iDiscover/conf/xsd/network.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ iTransformer is an open source tool able to discover IP networks
  ~ and to perform dynamic data data population into a xml based inventory system.
  ~ Copyright (C) 2010  http://itransformers.net
  ~
  ~ This program is free software: you can redistribute it and/or modify
  ~ it under the terms of the GNU General Public License as published by
  ~ the Free Software Foundation, either version 3 of the License, or
  ~ any later version.
  ~
  ~ This program is distributed in the hope that it will be useful,
  ~ but WITHOUT ANY WARRANTY; without even the implied warranty of
  ~ MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  ~ GNU General Public License for more details.
  ~
  ~ You should have received a copy of the GNU General Public License
  ~ along with this program.  If not, see <http://www.gnu.org/licenses/>.
  -->

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="network" type="networkType"/>
  <xs:complexType name="networkType">
    <xs:sequence>
      <xs:element type="xs:string" name="networkName"/>
      <xs:element type="xs:string" name="version"/>
      <xs:element type="DiscoveredDeviceType" name="DiscoveredDevice" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="parametersType">
    <xs:sequence>
      <xs:element type="parameterType" name="parameter" maxOccurs="unbounded" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="DiscoveredDeviceType">
    <xs:sequence>
      <xs:element type="xs:string" name="name"/>
      <xs:element type="parametersType" name="parameters"/>
      <xs:element type="objectType" name="object" maxOccurs="unbounded" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="parameterType">
    <xs:sequence>
      <xs:element type="xs:string" name="name"/>
      <xs:element type="xs:string" name="value"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="objectType">
    <xs:sequence>
      <xs:element type="xs:string" name="name"/>
      <xs:element name="objectType">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="Discovered Neighbor"/>
            <xs:enumeration value="Discovery Interface"/>
            <xs:enumeration value="IPv4 Address"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element type="parametersType" name="parameters"/>
      <xs:element type="objectType" name="object" maxOccurs="unbounded" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>